<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/David/IdeaProjects/Cursor">
        <classes>
            <class name="test.LeaveTest">
                <methods>
                    <include name="openLeavePageAfterLogin"/>
                </methods>
            </class>
            <class name="test.LoginTest">
                <methods>
                    <include name="loginWithValidCredentials"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>